<div id="app">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <!-- Just an image -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="assets/buliicon.png" height="45" width="45">
       Home
      </a>
    </nav>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="adminview">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="loggedin" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!loggedin">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Registieren</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="loggedin">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
